<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= image_tag @webcam.image1.url if @webcam.present? %>
<%= image_tag @webcam.image2.url if @webcam.present? %>
<%= image_tag @webcam.image3.url if @webcam.present? %>
